<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New User</title>
  </head>
  <body>
    <h1>Add New User</h1>
    <form action="/users" method="POST">
      <label for="name">
        <input type="text" name="name" id="name" placeholder="Enter Name" />
      </label>
      <label for="email">
        <input type="email" name="email" id="email" placeholder="Enter Email" />
      </label>
      <label for="age">
        <input type="number" name="age" id="age" placeholder="Enter Age" />
      </label>
      <input type="submit" value="Add User" />
    </form>
  </body>
</html>
